/* global */
html,body {
    height: 100%;
}

.heading-1 {
    font-size: 30px;
}

.heading-2 {
    font-size: 24px;
}

.heading-3 {
    font-size: 20px;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.site-title {
    display: flex;
    justify-content: center;
}
/* main section */

.main-section {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    grid-column-gap: 20px;
    justify-content: space-evenly;
}

/* left section */

.random-section {
    padding: 0px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 20%);
}

.random-section-title  {
    display: flex;
    justify-content: center;
}

.random-card {
    padding: 10%;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
}

.random-card:hover {
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}

.random-card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.random-note-tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* middle section */

.middle-section {
    display: flex;
    flex-direction: column;
}

.heading-message {
    display: flex;
    flex-direction: column;
}

.heading-message-title {
    display: flex;
}

.heading-message-body {
    margin-bottom: 100px;
}

.square-entrance {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 50px;
}

/* right section */

.recommended-section {
    padding: 0px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 20%);
}

.recommended-section-title  {
    display: flex;
    justify-content: center;
}

.recommended-card {
    padding: 10%;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
}

.recommended-card:hover {
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}

.recommended-card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.recommended-note-tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* About */

.about-section {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}