/* global */
html,body {
    height: 100%;
}

.heading-1 {
    font-size: 50px;
}

.heading-2 {
    font-size: 32px;
}

.heading-3 {
    font-size: 20px;
}

a:link { text-decoration: none; }

/* header */

.banner-image {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.site-title {
    display: flex;
    justify-content: center;
}

/* announcement section */

.announcement-section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.announcement-card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
}

.card-1 {
    grid-column-start: 2;
}

.card-icon {
    margin-top: -30px;
}

/* main section */

.main-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-column-gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

.card-link {
    color: rgb(97, 93, 93);
    text-decoration: none;
}

.card-link:hover {
    color: black;
}

/* left section */

.random-section {
    padding: 0px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 20%);
}

.random-section-title  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-card {
    padding: 10%;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
}

.random-card:hover {
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}

.random-card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.random-note-tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* middle section */

.right-arrow {
    margin-left: 20px;
}

.square-heading {
   display: flex;
   justify-content: center;
   align-items: center;
}

.square-entrance {
    font-size: 42px;
    text-decoration: none;
    color:#615d5d;
}

.square-entrance:hover {
    color: black;
    margin-right: 10px;
    transition: 0.3s;
}

.square-entrance:not(:hover) {
    transition: 0.3s;
}

.square-image {
    display: flex;
    justify-content: center;
}

/* right section */

.recommended-section {
    padding: 0px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 20%);
}

.recommended-section-title  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-card {
    padding: 10%;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
}

.recommended-card:hover {
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}

.recommended-card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.recommended-note-tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer */

.footer {
    margin-top: 100px;
}

.about-section {
    display: flex;
    justify-content: center;
}

.footer-image {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}

