/* global */
html,body {
    height: 100%;
}

.heading-1 {
    font-size: 30px;
}

.heading-2 {
    font-size: 24px;
}

.heading-3 {
    font-size: 20px;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.site-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* main section */

.main-section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    justify-content: space-evenly;
}

/* left section */

.random-section-title  {
    display: flex;
    justify-content: center;
}

.random-card {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 12px;
}

.about-section {
    margin-top: auto;
}

/* middle section */

.middle-section {
    display: flex;
    flex-direction: column;
}

.heading-message {
    display: flex;
    flex-direction: column;
}

.heading-message-title {
    display: flex;
}

.heading-message-body {
    margin-bottom: 200px;
}

.square-entrance {
    display: flex;
    justify-content: center;
    border: 5px solid black;
}

/* right section */

.recommended-section-title  {
    display: flex;
    justify-content: center;
}

.recommended-card {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 12px;
}